* {
  font-family: Verdana;
  background-color: black;
  text-align: center;
}
.head {
  font-weight: normal;
  font-size: 50px;
  color: white;
}
.download {
  color: aquamarine;
  text-decoration: underline;
  font-size: 20px;
}
.travel {
  color: white;
  font-weight: 300;
  font-size: 42px;
}
p {
  color: gray;
  font-size: 21px;
}

.copy {
  text-align: right;
  color: gray;
}
